body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: #FFF;
    height: 120px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* Footer */

footer {
    position: sticky;
    bottom: 50px;
    display: flex;
    justify-content: end;
    padding-right: 10%;
}

footer button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: red;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
}

footer button:hover {
    transform: scale(1.1);
    /* Maybe change colors */
}


/* Modal */

.modal-bg {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-container {
    position: relative;
    background-color: #FFF;
    height: 55%;
    width: 30%;
}


.close-modal-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 32px;
    cursor: pointer;
}

.modal-title {
    font-size: 32px;
    text-align: center;
}
.modal {
    margin: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-container {
    display: flex;
    justify-content: center;
}

.add-book-btn {
    height: 40px;
    width: 250px;
    font-size: 20px;
    cursor: pointer;
}